@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 248, 250);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#landing-page-image {
  max-width: 100%;
  height: auto;
}

.signUp-button {
  color: red;

  padding-top: 30px;
  padding-right: 30px;
}

.login-button {
  color: red;

  padding-top: 30px;
  padding-left: 30px;
}

.form-horizontal .text-right {
  text-align: right;
}

#pokemon-card {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

#pokedex {
  height: 270px;

  overflow: auto;
  flex-wrap: nowrap;
  margin-top: 180px;
  margin-right: 92px;
  background-color: rgb(35, 177, 199);
}

.trainer-image {
  width: 150px;
  max-height: 250px;
}

.first-home-box {
  margin-top: 50px;
}

.choose-submit-button {
  margin-left: 30px;
}

.choose-pokemon-box {
  margin: 50px;
  text-align: center;
  display: inline-block;
  text-align: center;
}

.choose-pokemon-pic {
  width: 200px;
}

.button {
  width: 150px;
  margin: 25px;
  border-radius: 10px;
}

.first-button {
  width: 150px;
  margin: 100px 25px 25px 25px;
  border-radius: 10px;
}

.landing-page-image {
  width: 1000px;
  margin: 50px 50px 0px 50px;
}

.home-trainer-image {
  width: 100px;
  margin-bottom: 100px;
}

.sign-up-image {
  justify-content: center;
  align-items: center;
}

.sign-up-image-container {
  justify-content: center;
  align-items: center;
}

.login-sign-up-margin {
  margin-top: 150px;
}

.textBox {
  padding: 30px;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black, inset 0 3px 0 1px black, 0 0 0 3px black,
    inset 0 0 0 3px black;
}

.pokedex-background {
  background-image: url(./images/Try8.png);
}

.pokedex-display {
  height: 800px;
}

.catch-button {
  position: absolute;
  padding-top: 5px;
  bottom: 75px;
  left: 190px;
  border: 5px solid rgb(77, 77, 77);
}
