@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 248, 250);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#landing-page-image {
  max-width: 100%;
  height: auto;
}

.signUp-button {
  color: red;

  padding-top: 30px;
  padding-right: 30px;
}

.login-button {
  color: red;

  padding-top: 30px;
  padding-left: 30px;
}

.form-horizontal .text-right {
  text-align: right;
}

#pokemon-card {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

#pokedex {
  height: 260px;
  overflow: auto;
  flex-wrap: nowrap;
}

.trainer-image {
  width: 150px;
  height: 150px;
  margin-left: 150px;
  padding: 10px;
}

.first-home-box {
  margin-top: 10px;
}

.choose-submit-button {
  margin-left: 30px;
}

.choose-pokemon-box {
  margin: 50px;
  text-align: center;
  display: inline-block;
  text-align: center;
}

.choose-pokemon-pic {
  width: 200px;
}

.button {
  width: 150px;
  margin: 25px;
  border-radius: 10px;
}

.first-button {
  width: 150px;
  margin: 75px 25px 25px 25px;
  border-radius: 10px;
}

.landing-page-image {
  width: 1000px;
  margin: 50px 50px 50px 50px;
}

.home-trainer-image {
  width: 100px;
  margin-bottom: 100px;
}
