@import url("https://fonts.googleapis.com/css?family=Orbitron");

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(35, 177, 199);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(77, 77, 77);
  border-radius: 5px;
  border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(232, 72, 72);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 248, 250);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#landing-page-image {
  max-width: 100%;
  height: auto;
}

.signUp-button {
  padding-top: 30px;
  padding-right: 30px;
}

.login-button {
  padding-top: 30px;
  padding-left: 30px;
}

.form-horizontal .text-right {
  text-align: right;
}

#pokemon-card {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

#pokedex {
  height: 270px;

  overflow: auto;
  flex-wrap: nowrap;
  margin-top: 235px;
  margin-right: 92px;
}

.first-home-box {
  margin-top: 50px;
}

.choose-submit-button {
  margin-left: 30px;
}

.choose-pokemon-box {
  margin: 50px;
  text-align: center;
  display: inline-block;
  text-align: center;
}

.choose-pokemon-pic {
  width: 200px;
}

.button {
  width: 150px;
  margin: 25px;
  border-radius: 10px;
}

.button:active {
  background-color: rgb(35, 177, 199);
}

.first-button {
  width: 140px;
  height: 40px;
  margin: 530px 25px 15px 25px;
  border-radius: 10px;
  border: 5px solid rgb(77, 77, 77);
}

.first-button:active {
  background-color: rgb(35, 177, 199);
}

.pokedex-button {
  width: 140px;
  height: 40px;
  margin: 15px 25px 15px 25px;
  border-radius: 10px;
  border: 5px solid rgb(77, 77, 77);
}

.pokedex-button:active {
  background-color: rgb(35, 177, 199);
}

.catch-button {
  position: absolute;
  padding-top: 5px;
  bottom: 75px;
  left: 190px;
  border: 5px solid rgb(77, 77, 77);
}

.landing-page-image {
  width: 1000px;
  margin: 50px 50px 0px 50px;
}

.sign-up-image {
  justify-content: center;
  align-items: center;
}

.sign-up-image-container {
  justify-content: center;
  align-items: center;
}

.login-sign-up-margin {
  margin-top: 150px;
}

.textBox {
  padding: 30px;

  border: 3px solid white;
  box-shadow: 0 3px 0 3px black, inset 0 3px 0 1px black, 0 0 0 3px black,
    inset 0 0 0 3px black;
}

.battle-text-box {
  padding: 30px;
  position: absolute;
  top: 540px;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black, inset 0 3px 0 1px black, 0 0 0 3px black,
    inset 0 0 0 3px black;
}

.pokedex-background {
  background-image: url(./images/Try11.png);
}

.pokedex-display {
  height: 800px;
}

.trainer-image {
  position: absolute;
  max-width: 150px;
  max-height: 200px;
  right: 130px;
  top: 210px;
}

.trainer-info {
  position: absolute;
  top: 330px;
  right: -10px;
}

.edit-trainer-button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: 5px solid rgb(77, 77, 77);
  position: absolute;
  top: 380px;
  right: 215px;
}

.delete-trainer-button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: 5px solid rgb(77, 77, 77);
  position: absolute;
  top: 380px;
  right: 430px;
}

.pokedex-current-display {
  position: absolute;
  top: 315px;
  font-size: 30px;
}

.catchem-display {
  position: absolute;
  font-size: 30px;
  top: 410px;
  right: 300px;
}

.pokeball-IMG {
  height: 80px;
  position: absolute;
}

.pokemon-battle-pic {
  width: 200px;
  position: absolute;
  top: 30px;
  left: 20px;
}

.pokemon-battle-slide {
  width: 200px;
  position: absolute;
  animation-duration: 5s;
  animation-name: slideinPokemon;
}

@keyframes slideinPokemon {
  from {
    margin-left: 300%;
  }

  to {
    margin-left: 0%;
  }
}

.trainer-battle-IMG {
  max-width: 200px;
  max-height: 300px;
  margin-bottom: 30px;
}

.trainer-battle-name {
  position: absolute;
  top: -400px;
  right: 730px;
}

.trainer-info {
  position: relative;
  bottom: -280px;
}

.battle-button {
  width: 150px;
  margin: 25px;
  border-radius: 10px;
  background-color: rgb(232, 72, 72);
  color: white;
}

.edit-trainer-heading {
  position: absolute;
}

.edit-trainer-form {
  position: absolute;
  top: 260px;
  right: -5px;
}

.edit-submit-button {
  position: absolute;
  top: 190px;
  right: 110px;
  border-radius: 10px;
  border: 5px solid rgb(77, 77, 77);
}

.edit-trainer-input {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid rgb(77, 77, 77);
}

.wild-pokemon-name {
  top: 180px;
  right: -450px;
}

.wild-pokemon-hp {
  top: 220px;
  right: -450px;
}

.catch-margin {
  margin-top: 200px;
}

.happy-pika {
  position: absolute;
  right: 590px;
  width: 300px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
